# --- Derleme Çıktıları (Build Artifacts) ---
build/
bin/
obj/
*.elf
*.hex
*.bin
*.map
*.lst
*.o
*.d
*.su

# --- IDE ve Araç Klasörleri ---
.vscode/
.settings/
.project
.cproject
.mxproject


# --- İşletim Sistemi Geçici Dosyaları ---
Thumbs.db
.DS_Store